@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Darker Grotesque", sans-serif;
    background-color: #E8E9E9;
  }
}